h1 {
  text-align: center;
  margin-top: 19%;
  color: rgb(70, 70, 186);
}

h3 {
  text-align: right;
}

h2 {
  text-align: center;
}

button {
float: right;
border-radius: 10%;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 75px;
  border-bottom: 10px solid darkblue;
  background-color: rgb(26, 135, 171);
}

.header-link1 {
  padding: 5px;
  margin: 10px;
  background-color: rgb(255, 200, 0);
}
.header-link2 {
  padding: 5px;
  margin: 10px;
  background-color: rgb(255, 200, 0);
}
.header-link3 {
  padding: 5px;
  margin: 10px;
  background-color: rgb(255, 200, 0);
}

.titlecard {
top: 10%;
}

body{
  margin: 0;
  background-color: bisque;
}

div {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

img {
  width: 19%;
}

.image-padding {
  padding: 20px;
  background-color: rgb(26, 135, 171);
}

.image-border {
  border: 17px solid rgb(171, 149, 26);
}

.image-margin {
  margin: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    justify-content: center;
    border-top: 25px solid rgb(26, 135, 171);
    background-color: darkblue;
}

button:hover {
  background-color: #772014;
  color: #fff;
}

button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

button:focus {
  outline: none;
  border-color: #8ac4ff;
}








/* FROM PROJECT*/
/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #d7695b;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}
